:root {
    --capdcRED: #c70551;
    --capdcBLUE: #005088;
    --dfsRED: #b42c33;
    --dfsTAN: #CDB58D;
    --dtiDARKPINK: #ee2e98;
    --dtiLIGHTPINK: #ff9be4;
}

html{
    background-color: var(--capdcBLUE);
}

h1{
    color: white;
    text-align: center;
}

h2{
    text-decoration: underline;
}

h4{
    color: white;
    text-align: center;
}

.bigButton{
    width: 90%;
    height: 15%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: transform 0.2s;
    text-decoration: none;
}

.bigButton:hover{
    transform: scale(1.05);
}

a{
    color: var(--capdcBLUE);
    margin: 5%;
    text-align: center;
    text-decoration: none;
}

.buttonImg{
    display: block;
    width: auto;
    height: 5%;
    max-height: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: white;
}
